body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

nav {
    z-index: 500000;
    position: fixed;
    width: 100%;
    align-self: center;
}

nav.color {
    background: black;
}

ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

li {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.parallax-one, .parallax-two, .parallax-three{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
}

.parallax-one {
    background-image: url('img/PDJ_20180331_3637c.jpg');
    height: 100vh;
}

.parallax-two {
    background-image: url('img/MountAiry 3.jpg');
    min-height: 400px;
}

.parallax-three {
    background-image: url('img/NewWindsor 1.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282E34;
    color: #ddd;
}

.parallax-text {
    position: absolute;
    top: 10%;
    margin-left: 20px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 8px;
}

.campaign-text-what {
    font-size: 40px;
    margin-left: 20px;
    color: #fff;
    font-weight: 600;
}

.campaign-text-where {
    font-size: 40px;
    margin-left: 20px;
    color: #fff;
    font-weight: 600;
}

.parallax-text .campaign-text-me {
    color: #fff;

    font-weight: 600;
}

.parallax-text .border.trans {
    background-color: transparent;
}

@media(max-width: 568px){
    .parallax-one .parallax-two .parallax-three{
        background-attachment: scroll;
    }
}

.contact-title {
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    background: url('img/Taylorsville 1.jpg');
    background-size: cover;
    background-position: center;
}

.contact-h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-h2 {
    font-size: 16px;

}

.form {
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

.input {
    height: 45px;
}

.form, 
.submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

.form,
.submit:hover {
    background-color: #f44336;
    cursor: pointer;
}
