.background {
    height: 100vh;
    background-image: url("../img/alex-robert-133575-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
}